<!DOCTYPE html>
<html>
	<head>
	  <title>Dougswinecellar</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Home", root_path, class: 'navbar-brand' %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <!-- SEARCH -->
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <%= form_tag wines_path, method: :get, authentication: false, id: 'search-form' do %>
              <%= text_field_tag :search, params[:params], :input_type =>'text', :class => 'form-control', :placeholder =>'search wines' %>
            </div> 
            <%= submit_tag "Search", :type => 'submit', :class => 'btn btn-default' %>
            <% end %>
          </form>
         <!-- - - - - -->
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <p class="navbar-text">Hello, Doug.</p>
            <li> 
              <%= link_to("Log out", logout_path) unless current_page?(login_path) %>
            </li>
              <% else %>
            <li>
              <%= link_to "Log in", login_path %> 
            </li>
            <li>
              <%= link_to "Sign up", new_user_path %>
            </li>
          <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

  <div class="row">
    <div class="col-md-1 col-xs-1"></div>
    <div class="col-md-10 col-xs-10">
      <div id="nav">
        <%# if current_user %>
          <%#= link_to "Edit Profile", edit_user_path(current_user.id) %>
          <%#= link_to "Logout", :logout, method: :post %>
        <%# else %>
          <!-- <%#= link_to "Register", new_user_path %> | -->
          <%#= link_to "Login", :login %>
        <%# end %>
      </div>
      <div>
        <p id="notice"><%= flash[:notice] %></p>
        <p id="alert"><%= flash[:alert] %></p>
      </div>
      <%= yield %>
    </div>
    <div class="col-md-1 col-xs-1"></div>
  </div>
  
	

	</body>
</html>
