<!-- <h1>DWS</h1> -->
<div class="jumbo-logo img-responsive"></div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr class="minor-bold-heading">
        <th>Name</th>
        <th>Purchased</th>
        <th>Year</th>
        <th>Location made</th>
        <th>Points</th>
        <th>Description</th>
        <th>Release date</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Consumed</th>
        <th>Type</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @wines.each do |wine| %>
        <tr>
          <td><%= link_to wine.name, wine_path(wine) %></td>
          <td><%= wine.purchased %></td>
          <td><%= wine.year %></td>
          <td><%= wine.location_made %></td>
          <td><%= wine.points %></td>
          <td><%= wine.description.truncate(50) %></td>
          <td><%= wine.release_date %></td>
          <td><%= wine.quantity %></td>
          <td>$<%= wine.price %></td>
          <td><%= wine.consumed %></td>
          <td><%= wine.wine_type %></td>
          <td><%= link_to 'View', wine, class: 'btn btn-primary' %></td>
          <td><%= link_to 'Edit', edit_wine_path(wine), class: 'btn btn-warning' %></td>
          <td><%= link_to 'Delete', wine, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Add A Wine', new_wine_path, class: 'btn btn-primary' %>
